<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indica que iisnode maneja src/index.js -->
    <handlers>
      <add name="iisnode" path="src/index.js" verb="*" modules="iisnode"/>
    </handlers>
    <!-- Redirige todas las peticiones a src/index.js -->
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="src/index.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Para ver errores en IIS -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true"/>
  </system.webServer>
</configuration>