name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.17.0]  # Especificando la versión exacta

    steps:
    - uses: actions/checkout@v4
    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: |
        cd Bakend  # Cambia a la carpeta Bakend
        npm install  # Ejecuta npm install en Bakend donde está el package.json
    - name: Run tests
      run: |
        cd Bakend  # Cambia a la carpeta Bakend
        npx mocha "src/test/**/*.test.js"  # Ejecuta los tests desde Bakend
